html, body{
    background-color: cornflowerblue;
}
.container{
    height : 500px; 
    width : 450px; 
    background-color: white;
    margin-right: auto; 
    margin-left: auto;
    border-radius: 25px;


}

form{
    margin-top : 50px;
    padding: 15px;
   
}
input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 25px;
    width: 250px;
   
    border: solid 1px rgb(174, 174, 189);
}
.toggleLink{
    color: blue; 
    text-decoration: underline;
}

button{
    color: white; 
    font-weight: bolder;
    background-color: rgb(3, 98, 207);
    border: none;
    height: 30px;
    width: 250px;

}